body {
  background-color: black;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.1s ease;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c9aa71;
  font-size: 14px;
  font-family: "Times New Roman", sans-serif;
  text-transform: uppercase;
  /*border-bottom: solid 2px #262626;*/
}

nav .menu-separator {
  display: inline-block;
  border-left: 2px solid #262626;
  margin: 0 10px;
  height: 30px;
}

nav .riot-menu a:hover {
  color: white;
}

nav .riot-menu > ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
/*
nav .riot-menu > ul a {
  color: inherit;
  text-decoration: none;
  transition: color 0.1s ease;
}*/

nav .riot-menu > ul li {
  list-style: none;
  padding: 20px 0;
  margin: 0 10px;
}

nav .riot-menu .selected {
  color: white;
  border-bottom: solid 2px #c9aa71;
}

nav .logo {
  margin-right: auto;
  margin-left: 20px;
}

nav .login-menu {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
}

/*nav .login-menu > a {
  text-decoration: none;
  color: inherit;
  transition: color 0.1s ease;
}*/

nav .login-menu > a:hover {
  color: white;
}

nav .login-menu > div {
}

.lcs-menu > ul {
  display: flex;
  margin: 0;
  padding: 0;
  color: #646464;
  font-family: "Helvetica";
  font-size: 0.85rem;
  font-weight: 700;
  border-top: 2px solid #262626;
  border-bottom: 1px solid #262626;
}

.lcs-menu > ul li {
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: inherit;
  padding: 64px 32px 20px 32px;
  border-right: 1px solid #262626;
}

.lcs-menu a:hover {
  color: #b4b4b4;
}

.lcs-menu .selected {
  color: white;
  /*border-bottom: 5px solid #5abbd4;*/
  box-shadow: inset 0 0px 0 0 #f00,
              inset 0px 0 0 0 #f00,
              inset 0px 0 0 0 #f00,
              inset 0 -5px 0 0 #5abbd4;
}

.newsfeed {
  display: flex;
}

.newsfeed .minor-news {
  display: flex;
  flex-flow: column;
}
/*
article .news {
  display: flex;
}*/
